#leftSide{
    width: 25%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*règle commune a tout le coté gauche*/

#leftSide h3{
    font-size: 1.3rem;
    text-align: center;
    background-color: #2c2f33;
    color: green;
    padding: 5px 0px 5px 0px;
}

#leftSide p{
    font-size: 1.2rem;
}

/*contact*/

#contact h3{
    width: 100%;
    padding: 5px 0rem 5px 0rem;
    margin-bottom: 2rem;
}

.contenuContact p{
    word-wrap: break-word;
    font-size: 1.2rem;
}

#contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 460px;
}

#toutLesContact{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenuContact{
    width: 80%;
}

/*propos*/

#propos{
    flex-grow: 2;
    display: flex;
    flex-direction: column;

}

#contenuPropos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#propos h3{
    width: 100%;
    padding: 5px 0rem 5px 0rem;
    margin-bottom:2rem;
}

#propos p{
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 2rem;
}

/*loisirs*/

#loisirs{
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#loisirs h3{
    width: 100%; 
    padding: 5px 0rem 5px 0rem;
}

#iconeLoisirs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width:85%;
    min-height: 150px;
}

#loisirs .fas{
    color: #2c2f33;
}

@media screen and (max-width: 730px){

    #leftSide{
        width: 100%;
        margin-bottom: 70px;
    }
}