@font-face{
    font-family: 'roboto';
    src: url(police/Roboto-Light.ttf);
}

*{
    font-family: 'roboto',Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}

p{
    text-align: justify;
}

span{
    color: #2c2f33;
}

h3 ,h4 ,h5{
    text-transform: uppercase;
}

#leftAndRightSide{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

body{
    width: 100%;
    height: 100%;
}

