
#rightSide{
    width: 75%;
    height: 1200px;
}

.fas{
    color: green;
}

.poste{
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.poste .fas {
    font-size: 8px;
    color: green;
}
article .fa-stack {
    font-size: 8px;
    color: green;
}

.point{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 205px;
}

.dateEtLieu p{
    min-width: 180px;
    white-space: nowrap;
}

#rightSide h3{
    padding-left: 1rem;
}

.titre{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px green solid;
}

.titre .fas{
    padding-bottom: 3px;
}

/* description */

.description {
    width: 75%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: flex-start;
}


/*section*/

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
}

/*formation*/

#formation{
    width: 90%;
    min-height:425px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*experience*/

#experience{
    width: 90%;
    min-height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*recommandations*/

#recommandation{
    width: 90%;
    min-height: 180px;
    display:flex;
    flex-direction: column;

}

.recommandation{
    width: 50%;
}

#lesRecommandations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 730px){
    #rightSide{
        width: 100%;
    }

    section{
        height: auto;
    }
}

@media screen and (max-width: 520px){
    .poste{
        flex-direction: column;
        height: auto;
    }

    .point{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .description{
        width: 100%;
        margin-bottom: 15px;
    }

    #formation{
        height: auto ;
    }

    .recommandation{
        margin-top: 20px;
    }
}