header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 328px;
}

/*PARTIE PHOTO*/

#backgroundPhoto{
    background-color: #F0C300;
    width: 32.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo{
    margin-top: 23px;
    width: 216px;
    height: 216px;
    background-image: url(../images/avatar.jpg);
    border: 4px solid #DAA520;
    border-radius: 50%;
}

/*PARTIE TITRES*/

#rightSideHeader{
    width: 67.7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titrePrincipaux{
    display: flex;
    width: 84.2%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

header h1{
    text-transform: uppercase;
    font-size: 3.8rem;
    padding: 0;
    margin: 0;
}

header h2{
    font-size: 1.9rem;
    padding: 0;
    margin: 0;
}

#titrePeint{
    /*font-weight: lighter;*/
    color: #F0C300;
    padding-right: 0.3rem;
}

#nom{
    min-height: 45px;
    display: flex;
    flex-direction: row; 
}

#motSoulignie{
    border-bottom: #F0C300 solid 2px;
    display: inline;
    padding: 0;
    margin: 0;
}

#travail{
    min-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

#nom{
        flex-wrap: wrap;
}

/*PARTIE RESPONSIVE*/

@media screen and (max-width: 960px){

    header{
        display: flex;
        flex-direction: column;
        min-height: 700px;
    }

    #rightSideHeader{
        width: 90%;
    }

    #backgroundPhoto{
        width: 100%;
        min-height: 400px;
    }

    #titrePrincipaux{
        width: 100%;
        min-height: 300px;
    }
}
