
#rightSide{
    width: 75%;
    min-height: 1200px;
}

.fas{
    color: #F0C300;
}

.poste{
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.poste .fas {
    font-size: 8px;
    padding-right: 8px;
    color: #F0C300;
}

article .fa-stack {
    font-size: 8px;
    color: #F0C300;
}

.point{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 210px;
    max-width:400px;
    margin-right: 5px;
}

.point .fas{
    padding-top: 3px;
}

.pointStack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 210px;
    max-width:400px;
    margin-right: 5px;
}

.dateEtLieu p{
    min-width: 180px;
    font-weight: bold;
    white-space: nowrap;
}

/*TITRES ARTICLE*/

#rightSide h3{
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 1rem;
}

.titre{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px #F0C300 solid;
}

.titre .fas{
    padding-bottom: 5px;
}

.titre h3{
    font-weight: bold;
}

/* PARTIE DESCRIPTION */

.description {
    width: 70%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: flex-start;
}

.description h4{
    padding: 5px 0 5px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.description h5{
    padding: 5px 0 5px 0;
    font-size: 0.9rem;
}

.description p{
    padding: 5px 0 5px 0;
    font-size: 0.9rem;
}


/*PARTIE SECTION*/

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
}

/*PARTIE FORMATION*/

#formation{
    width: 90%;
    min-height:425px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*PARTIE EXPERIENCE*/

#experience{
    width: 90%;
    min-height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*PARTIE RECOMMANDATIONS*/

#recommandation{
    width: 90%;
    min-height: 180px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.recommandation{
    width: 50%;
}

#lesRecommandations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.recommandation li:last-child{
    font-weight: lighter;
}

.recommandation h5{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

/*PARTIE RESPONSIVE*/

@media screen and (max-width: 960px){
    #rightSide{
        width: 100%;
    }

    section{
        height: auto;
    }
}

@media screen and (max-width: 540px){
    .poste{
        flex-direction: column;
        height: auto;
    }

    .point{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 210px;
    }

    .pointStack{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 210px;
    }

    .description{
        width: 100%;
        margin-bottom: 15px;
    }

    #formation{
        height: auto ;
    }

    .recommandation{
        margin-top: 20px;
    }
}